header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header-logo {
    width: 50px; /* Example width, adjust as per your logo size */
    height: 50px; /* Example height, adjust as per your logo size */
    background-image: url('../images/logo.png'); /* Assuming you have a logo.png in your images folder */
    background-size: contain;
    background-repeat: no-repeat;
}
